@{
    List<Genre> genres = Model;
}


<div class="list-group">

    @foreach (Genre genre in genres)
    {
        if (ViewBag.SelectedId == genre.Id)
        {

            <a href="/Movie/List/@genre.Id" class="list-group-item list-group-item-action active">@genre.Name</a>
        }
        else
        {
            <a href="/Movie/List/@genre.Id" class="list-group-item list-group-item-action">@genre.Name</a>
        }
    }
</div>