@{
    List<Movie> movies = Model;
    ViewBag.Title = "Bayrktlihn/Movie/List";
}


@section Styles{
    <style>

        .movie {
            border: 1px solid #000;
            padding: 10px;
            margin-bottom: 10px;
        }
    </style>
}


@section menu{
    @await Component.InvokeAsync("Genres")
}

@if (movies.Count == 0)
{
    <div class="alert alert-warning" role="alert">
        Not Found Movies
    </div>
}
else
{
    <div id="movies">
        @foreach (Movie movie in movies)
        {

            @await Html.PartialAsync("_movie", movie)

        }
    </div>
}





