@{ 
    List<Genre> genres = Model;
}


<div class="list-group">

    @foreach (Genre genre in genres)
    {
        <a href="#" class="list-group-item list-group-item-action">@genre.Name</a>
    }
</div>